@import "../../styles/styles.scss";

iframe {
  position: relative;
  top: -29px;
   width: 100%;
  padding: 20px;
  height: 150px;
  border: none;

  @include tablet-query {
    top: 35px;
    width: 63%;
    padding-left: $p-base * 2.5;
    height: 160px;
  }
  @include laptop-query {
    top: -160px;
    right: -540px;
    width: 40%;
    height: 180px;
  }
   @include laptop-l-query {
    top: -216px;
    right: -780px;
    width: 37%;
    height: 180px;
  }
}
.main-wrap{
 display: flex;
 flex-direction: column;
  width: 100%;
  flex-wrap: wrap;
  
}