/** @format */
@font-face {
  font-family: "Avenir Regular";
  src: url(../../../public/assets/fonts/Alternative-files/AvenirNextLTPro.ttf);
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "Avenir Bold";
  src: url(../../../public/assets/fonts/Alternative-files/AvenirNextLTProBold.ttf);
  font-weight: 900;
  font-style: normal;
}
@font-face {
  font-family: "Avenir Demi";
  src: url(../../../public/assets/fonts/Alternative-files/AvenirNextLTPro.ttf);
  font-weight: 700;
  font-style: normal;
}
/***********************
* MEDIA QUERIES
************************/
* {
  box-sizing: border-box;
  margin: 0;
}

body {
  font-family: "Avenir Demi";
}

.content {
  padding: 6.2rem 0 0 0;
  min-height: 100vw;
}
@media screen and (min-width: 768px) {
  .content {
    padding: 4.4rem 0 0 0;
  }
}

.form {
  background-color: #fafafa;
  padding: 1rem;
}

.conv__container {
  display: flex;
}

.conv__title {
  font-weight: 1.5rem;
  line-height: 2rem;
  font-family: "Avenir Bold";
}

.conv__avator {
  border-radius: 50%;
  width: 44px;
  height: 44px;
}

.conv__container {
  width: 100%;
  display: flex;
  padding: 0 1rem;
  flex-direction: column;
}
@media screen and (min-width: 768px) {
  .conv__container {
    padding: 0 4rem;
  }
}

.form__container {
  width: 100%;
  display: flex;
  margin-top: 1rem;
}
form {
  color: #afafaf;
  margin-top: 0;
  padding-top: 0;
  padding-left: 0.6rem;
  width: 100%;
  font-weight: 600;
}
form__control {
  margin: 1rem 0;
  display: flex;
  align-items: stretch;
  flex-direction: column;
  background-color: red;
}

.form__control input[type=text] {
  font-size: 1rem;
  line-height: 1.125rem;
  font-family: "Avenir Demi";
  font-weight: 700;
  width: 100%;
  height: 2.95rem;
  border-radius: 0.25rem;
  border: 0.063rem solid #e1e1e1;
  padding: 0.75rem;
  margin-bottom: 1.4rem;
  background-color: #fafafa;
  font-weight: 400;
}
@media screen and (min-width: 768px) {
  .form__control input[type=text] {
    font-size: 1rem;
    line-height: 1.125rem;
    font-family: "Avenir Demi";
    height: 4.5rem;
    padding: 2rem;
  }
}

.form__control input[type=text]:active {
  border: 0.063rem solid #e1e1e1;
}

.form__control input:focus {
  outline: none;
}

.form__invalid input {
  border-color: red;
  background: #fbdada;
}

textarea {
  font-size: 1rem;
  line-height: 1.125rem;
  font-family: "Avenir Demi";
  display: block;
  width: 100%;
  height: 150px;
  font-weight: 400;
  color: #000000;
  border-radius: 0.25rem;
  border: 0.063rem solid #e1e1e1;
  padding: 0.55rem;
  margin-bottom: 0.25rem;
  margin-top: 0.2rem;
  background-color: #fafafa;
  outline-style: none;
  overflow: hidden;
  resize: none;
}
@media screen and (min-width: 768px) {
  textarea {
    padding: 0.99rem;
  }
}

.avatar {
  border: 0.063rem solid #e1e1e1;
  background-color: #e1e1e1;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  background-image: url(../../../public/assets/images/Mohan-muruge.jpg);
  background-size: cover;
  padding: 1.4rem;
  margin-top: 2.2rem;
}
@media screen and (min-width: 768px) {
  .avatar {
    padding: 2.4rem;
    margin-top: 1.2rem;
  }
}
@media screen and (min-width: 1024px) {
  .avatar {
    padding: 1.8rem;
    margin-top: 1.2rem;
  }
}

.main-btn {
  width: 100%;
  margin-bottom: 1rem;
}
@media screen and (min-width: 768px) {
  .main-btn {
    display: flex;
    width: 100%;
    margin-bottom: 2rem;
    justify-content: flex-end;
  }
}

@media screen and (min-width: 768px) {
  .button-container {
    display: flex;
    justify-content: flex-end;
    width: 30%;
    padding: 0;
    margin: 0;
  }
}
@media screen and (min-width: 768px) {
  .button-container {
    width: 30%;
  }
}

button {
  background-color: #323232;
  color: #e1e1e1;
  display: block;
  width: 100%;
  height: 2.5rem;
  border-radius: 4px;
  margin-top: 25px;
  font-weight: bold;
}
@media screen and (min-width: 768px) {
  button {
    height: 2.5rem;
    padding: 0 1.5rem;
    font-size: 1rem;
    line-height: 1.125rem;
    font-family: "Avenir Demi";
    font-weight: 700;
    width: 70%;
  }
}
@media screen and (min-width: 1024px) {
  button {
    width: 20%;
  }
}

button:active {
  color: #ffffff;
}

button:hover {
  color: #ffffff;
}

.comment__storage {
  width: 100%;
  margin-right: 6rem;
}

.comment {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  padding: 0;
  margin: 0;
  width: 100%;
}
.comment__main {
  display: flex;
  width: 100%;
}
.comment__main__container {
  width: 100%;
  display: flex;
  flex-direction: column;
}
.comment__main__avatar {
  border: 0.063rem solid #e1e1e1;
  background-color: #e1e1e1;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  background-size: cover;
  padding: 1.4rem;
}
.comment__main__list {
  display: flex;
  justify-content: space-between;
  list-style: none;
  padding: 1rem;
  width: 100%;
}
.comment__main__list__name {
  width: 100%;
}
.comment__main__list__date {
  width: 100%;
  text-align: end;
}
.comment__main__text__container {
  width: 100%;
  margin: 0 auto;
  margin: 0;
}
.comment__main__text__container__body {
  width: 100%;
  border: none;
  margin: none;
  padding: 1rem;
  font-size: 0.91rem;
  font-weight: 300;
  text-align: justify;
  color: rgb(110, 108, 108);
  letter-spacing: 0.5px;
  scroll-behavior: smooth;
  resize: none;
}

textarea {
  margin: 0;
  overflow-y: scroll;
  height: 100px;
  resize: none;
}

.formbtn {
  display: flex;
}

.deletebtn,
.likebtn {
  width: 19px;
  background-color: transparent;
  border: none;
  text-align: start;
  margin: 0;
}

::-webkit-scrollbar {
  background-color: transparent;
}

.formbtn {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.deletebtn,
.likebtn {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.likebtn p {
  text-align: center;
  padding: 0.3rem;
  color: #afafaf;
}

.spinner-card {
  display: block;
  margin: auto;
  width: 100px;
}

.spinner {
  width: 100%;
}/*# sourceMappingURL=form.module.css.map */