

// @mixin tablet {
//   @media (min-width: $tablet-breakpoint) {
//     @content;
//   }
// }
// @mixin desktop {
//   @media (min-width: $desktop-breakpoint) {
//     @content;
//   }
// }
/***********************
* MEDIA QUERIES
************************/
@mixin tablet-query {
	@media screen and (min-width: $d-tablet) {
		@content;
	}
}

@mixin max-laptop-query {
	@media screen and (max-width: $d-laptop) {
		@content;
	}
}

@mixin laptop-query {
	@media screen and (min-width: $d-laptop) {
		@content;
	}
}

@mixin laptop-l-query {
	@media screen and (min-width: $d-laptop-l) {
		@content;
	}
}
@mixin headerdesktopshow {
  font-size: 1.3rem;
  line-height: 4.2rem;
  font-family: "Avenir Demi";
}
@mixin headermob {
  font-size: 1.5rem;
  line-height: 2rem;
  font-family: "Avenir Bold";
  
}
@mixin headermobfooter {
  font-size: 1.5rem;
  line-height: 2rem;
  font-family: "Avenir Bold";
  color: $white;
}
@mixin sectionheadermob {
  font-size: 1.5rem;
  line-height: 2rem;
  font-family: "Avenir Bold";
}
@mixin subheadermob {
  font-size: 1rem;
  line-height: 1.375rem;
  font-family: "Avenir Bold";
  
}
@mixin headershow {
  font-size: 3rem;
  line-height: 1.375rem;
  font-family: "Avenir Bold";
  
}
@mixin subheadermobshow {
  font-size: 1.02rem;
  line-height: 1.375rem;
  font-family: "Avenir Regular";
}
@mixin bodycopymob {
  font-size: 1rem;
  line-height: 1.125rem;
  font-family: "Avenir Demi";

}
@mixin footercopymob {
  font-size: 0.813rem;
  line-height: 1.125rem;
  font-family: "Avenir Regular";
  color: white;
}
@mixin desktabheaderd {
  font-size: 3.75rem;
  line-height: 4.2rem;
  font-family: "Avenir Regular";
}
@mixin desktabheaderdshow {
  font-size: 5rem;
  line-height: 6.2rem;
  font-family: "Avenir Regular";
}
@mixin sectionheaderd {
  font-size: 2.25rem;
  line-height: 2.75rem;
  font-family: "Avenir Bold";
}
@mixin subheaderd {
  font-weight: 1.5rem;
  line-height: 2rem;
  font-family: "Avenir Bold";
   
}
@mixin subheaderdshow {
    font-size: 1.9rem;
  line-height: 1.375rem;
  font-family: "Avenir Regular";
  
}
@mixin bodycopyd {
  font-size: 0.875rem;
  line-height: 1.375rem;
  font-family: "Avenir Regular";
  
}
@mixin bodycopyds {
  font-size: 0.875rem;
  line-height: 1.375rem;
  font-family: "Avenir Bold";
  
}
@mixin footercopyd {
  font-size: 0.875rem;
  line-height: 1.25rem;
  font-family: "Avenir Regular";
}
@mixin footersubheadermob {
   font-size: 1rem;
  line-height: 1.375rem;
  color: $white;
  font-family: "Avenir Regular";
}
@mixin copyright {
  font-size: 0.7rem;
  line-height: 1.25rem;
  font-style: normal;
  font-weight: 400;
}

// @mixin tablet {
// @media only screen and (min-width: 768px) {
// @content;
