

// @mixin tablet {
//   @media (min-width: $tablet-breakpoint) {
//     @content;
//   }
// }
// @mixin desktop {
//   @media (min-width: $desktop-breakpoint) {
//     @content;
//   }
// }
/***********************
* MEDIA QUERIES
************************/
@mixin tablet-query {
	@media screen and (min-width: $d-tablet) {
		@content;
	}
}

@mixin max-laptop-query {
	@media screen and (max-width: $d-laptop) {
		@content;
	}
}

@mixin laptop-query {
	@media screen and (min-width: $d-laptop) {
		@content;
	}
}

@mixin laptop-l-query {
	@media screen and (min-width: $d-laptop-l) {
		@content;
	}
}
@mixin headermob {
  font-size: 1.5rem;
  line-height: 2rem;
  font-family: "Avenir Bold";
}
@mixin sectionheadermob {
  font-size: 1.5rem;
  line-height: 2rem;
  font-family: "Avenir Bold";
}
@mixin subheadermob {
  font-size: 0.875rem;
  line-height: 1.375rem;
  font-family: "Avenir Demi";
}

@mixin bodycopymob {
  font-size: 0.813rem;
  line-height: 1.125rem;
  font-family: "Avenir Regular";
}
@mixin footercopymob {
  font-size: 0.813rem;
  line-height: 1.125rem;
  font-family: "Avenir Regular";
}
@mixin desktabheaderd {
  font-size: 3.75rem;
  line-height: 4.2rem;
  font-family: "Avenir Bold";
}
@mixin sectionheaderd {
  font-size: 2.25rem;
  line-height: 2.75rem;
  font-family: "Avenir Bold";
}
@mixin subheaderd {
  font-weight: 1.5rem;
  line-height: 2rem;
  font-family: "Avenir Demi";
}
@mixin bodycopyd {
  font-size: 0.875rem;
  line-height: 1.375rem;
  font-family: "Avenir Regular";
}
@mixin footercopyd {
  font-size: 0.875rem;
  line-height: 1.25rem;
  font-family: "Avenir Regular";
}
// @mixin tablet {
// @media only screen and (min-width: 768px) {
// @content;
