$background-image: url("../../assets/images/hero-bio.jpg") center/cover
  no-repeat;


$ff-Avenir-regular: "Avenir Regular";
$ff-Avenir-bold:"Avenir Bold";
$ff-Avenir-regular:"Avenir Demi";

$m-base: 1rem;
$p-base: 1rem;
$d-tablet: 768px;
$d-laptop: 1024px;
$d-laptop-l: 1440px;