
@import './partials/colors';
@import './partials/fonts';
@import'./partials/mixins';
@import'./partials/variables';



*{
    box-sizing: border-box;
    margin: 0;
}
body{

 font-family: $ff-Avenir-regular; 
    
}

.content{
    padding: $p-base*6.2 0 0 0;
    min-height: 100vw;
    @include tablet-query{
        padding: $p-base*4.4 0 0 0;

    }

  }
