@import "../../styles/styles.scss";


.container{
    padding: 0 1rem ;
    @include tablet-query{
        width: 100%;
        display: flex;
        justify-content: flex-start;
        padding: 0 2.5rem;
    }
    @include laptop-query{
    padding: 0  $p-base*2 0 $p-base*6;
    width: 70%;
    position: relative;
    top: -68px;
    right: -240px;
    }
       @include laptop-l-query{
    padding: 0  $p-base*2 0 $p-base*12.2;
    width: 70%;
    position: relative;
    top: -68px;
    right: -340px;
    }
}
.list{
    padding: 1rem 0;
    list-style: none;
    @include tablet-query{
        width: 90%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0;
    }
     @include laptop-query{
        width: 100%;
        
    }
     @include laptop-query{
        width: 100%;
        display: flex;
    }
@include laptop-l-query{
    width: 100%;
}
&__title{
list-style: none;
 @include bodycopyd();
font-weight: 600;
padding: .51rem 0;
color: $silver;
@include tablet-query{
    padding: 0;
    display: none;
}
}
&__item{
list-style: none;
@include subheadermob();
color: $bandsite-black;
@include tablet-query{
width: 29%;
margin-top: 1rem;
padding: 0;
@include bodycopyd();
}
@include laptop-query{
width:100%;
}
@include laptop-l-query{
        width: 80%;

}
}
&__hr{
  width: 100%;
  margin-top: 1rem;
  height: 2px;
  color: none;
  background-color:$mercury;
  border: none;
@include tablet-query{
  height: 2px;
  color: none;
  background-color: $mercury;
  border: 1px;
}
}
}
.button{
    color: $mercury;
    display: block;
    width: 100%;
    height: 2.5rem;
    border-radius: 4px;
    margin-top: 25px;
    font-weight: bold;
    &:hover{
color: $white;
    }
    @include tablet-query{
        width: 30%; 
            margin-left: 1rem;

         font-size: 1px;
        @include bodycopyd();
        margin-top: 1rem;

    }
    @include laptop-l-query{
        width: 25%;
        
    }
}
