@font-face {
  font-family: "Avenir Regular";
  src: url(../../../public/assets/fonts/Alternative-files/AvenirNextLTPro.ttf);
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "Avenir Bold";
  src: url(../../../public/assets/fonts/Alternative-files/AvenirNextLTProBold.ttf);
  font-weight: 900;
  font-style: normal;
}
@font-face {
  font-family: "Avenir Demi";
  src: url(../../../public/assets/fonts/Alternative-files/AvenirNextLTPro.ttf);
  font-weight: 700;
  font-style: normal;
}
/***********************
* MEDIA QUERIES
************************/
* {
  box-sizing: border-box;
  margin: 0;
}

body {
  font-family: "Avenir Demi";
}

.content {
  padding: 6.2rem 0 0 0;
  min-height: 100vw;
}
@media screen and (min-width: 768px) {
  .content {
    padding: 4.4rem 0 0 0;
  }
}

.container {
  padding: 0 1rem;
}
@media screen and (min-width: 768px) {
  .container {
    width: 100%;
    display: flex;
    justify-content: flex-start;
    padding: 0 2.5rem;
  }
}
@media screen and (min-width: 1024px) {
  .container {
    padding: 0 2rem 0 6rem;
    width: 70%;
    position: relative;
    top: -68px;
    right: -240px;
  }
}
@media screen and (min-width: 1440px) {
  .container {
    padding: 0 2rem 0 12.2rem;
    width: 70%;
    position: relative;
    top: -68px;
    right: -340px;
  }
}

.list {
  padding: 1rem 0;
  list-style: none;
}
@media screen and (min-width: 768px) {
  .list {
    width: 90%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0;
  }
}
@media screen and (min-width: 1024px) {
  .list {
    width: 100%;
  }
}
@media screen and (min-width: 1024px) {
  .list {
    width: 100%;
    display: flex;
  }
}
@media screen and (min-width: 1440px) {
  .list {
    width: 100%;
  }
}
.list__title {
  list-style: none;
  font-size: 0.875rem;
  line-height: 1.375rem;
  font-family: "Avenir Regular";
  font-weight: 600;
  padding: 0.51rem 0;
  color: #afafaf;
}
@media screen and (min-width: 768px) {
  .list__title {
    padding: 0;
    display: none;
  }
}
.list__item {
  list-style: none;
  font-size: 1rem;
  line-height: 1.375rem;
  font-family: "Avenir Bold";
  color: #323232;
}
@media screen and (min-width: 768px) {
  .list__item {
    width: 29%;
    margin-top: 1rem;
    padding: 0;
    font-size: 0.875rem;
    line-height: 1.375rem;
    font-family: "Avenir Regular";
  }
}
@media screen and (min-width: 1024px) {
  .list__item {
    width: 100%;
  }
}
@media screen and (min-width: 1440px) {
  .list__item {
    width: 80%;
  }
}
.list__hr {
  width: 100%;
  margin-top: 1rem;
  height: 2px;
  color: none;
  background-color: #e1e1e1;
  border: none;
}
@media screen and (min-width: 768px) {
  .list__hr {
    height: 2px;
    color: none;
    background-color: #e1e1e1;
    border: 1px;
  }
}

.button {
  color: #e1e1e1;
  display: block;
  width: 100%;
  height: 2.5rem;
  border-radius: 4px;
  margin-top: 25px;
  font-weight: bold;
}
.button:hover {
  color: #ffffff;
}
@media screen and (min-width: 768px) {
  .button {
    width: 30%;
    margin-left: 1rem;
    font-size: 1px;
    font-size: 0.875rem;
    line-height: 1.375rem;
    font-family: "Avenir Regular";
    margin-top: 1rem;
  }
}
@media screen and (min-width: 1440px) {
  .button {
    width: 25%;
  }
}/*# sourceMappingURL=tickets.module.css.map */