@import "../../styles/styles.scss";

.hero {
  position: relative;
  width: 100%;
  height: 287px;
  align-items: center;
  background-color: $bandsite-black;
  z-index: -1;

  @include tablet-query {
    width: 100%;
    height: 506px;
  }
  @include laptop-query {
    width: 100%;
    height: 637px;
  }
   @include laptop-l-query {
    width: 100%;
    height: 862px;
  }

  &::before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    background-image: url(../../../public/assets/images/hero-shows.jpg);
    background-repeat: no-repeat;
    background-size: 100%;
    background-position:center;
    opacity: 0.5;
  }
  @include laptop-query{
      background-position: center ;
  }
}
.hero__subheader {
  padding: $p-base*1 $p-base;
  @include subheadermobshow();
  position: relative;
  color: $white;
  @include tablet-query {
    @include sectionheadermob();
    font-weight: 600;
    position: relative;
    color: $white;
    padding:$p-base*4 $p-base*2 $p-base;
  }
  @include laptop-query {
      padding:$p-base*9 $p-base*6 0;
    @include headerdesktopshow ();
    font-weight: 600;
    position: relative;
    color: $white;
  }
  @include laptop-l-query{
     @include subheaderdshow();
    padding:$p-base*13 $p-base*7.2 $p-base*2;

  }
}
.hero__header {
  padding: $p-base;
  position: absolute;
  @include subheaderdshow();
  line-height: 1.2;
  font-weight: 600;
  position: relative;
  padding-top: $p-base;
  color: $white;
  width: 87%;
  @include tablet-query {
    @include  desktabheaderd();
    padding: 0 $p-base*2 ;
    font-weight: 600;
    position: relative;
    color: $white;
    width: 80%;
  }
  @include laptop-query {
    @include  headershow();
    padding: 0 $p-base*6 ;
    line-height: 4rem;
    position: relative;
    color: $white;
    width: 60%;
  }
  @include laptop-l-query{
       @include  desktabheaderdshow();
    padding: 0 $p-base*7.2  ;
 width: 60%;
  }
}
.shows__title{
  @include  headermob();
  padding: $p-base*2  0 0 $p-base;

  @include tablet-query{
  @include sectionheaderd();
   padding: $p-base*3  0 0 $p-base*2.5;
  }
  @include laptop-query{
  padding-left: $p-base*6;
}
  @include laptop-l-query{
  padding-left: $p-base*19.2;
 
}
}
.shows__list{
  width:50%;
  list-style:none;
  display: none;
  justify-content:space-between;
  @include bodycopyd();
  font-weight: 600;
  color:$silver;
@include tablet-query{
  display: flex;
  padding: $p-base*3  0 0 $p-base*2.5;
  width: 60.2%;
  margin-bottom:1rem;
}
@include laptop-query{
  padding: $p-base*3  0 0 $p-base*6;
  width: 45.2%;
    position: relative;
  top: -70px;
  right: -240px;
}

@include laptop-l-query{
  padding: $p-base*3  0 0 $p-base*12.2;
  width: 46.6%;
   top: -70px;
  right: -340px;


}
}