@font-face {
  font-family: "Avenir Regular";
  src: url(../../../public/assets/fonts/Alternative-files/AvenirNextLTPro.ttf);
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "Avenir Bold";
  src: url(../../../public/assets/fonts/Alternative-files/AvenirNextLTProBold.ttf);
  font-weight: 900;
  font-style: normal;
}
@font-face {
  font-family: "Avenir Demi";
  src: url(../../../public/assets/fonts/Alternative-files/AvenirNextLTPro.ttf);
  font-weight: 700;
  font-style: normal;
}
/***********************
* MEDIA QUERIES
************************/
* {
  box-sizing: border-box;
  margin: 0;
}

body {
  font-family: "Avenir Demi";
}

.content {
  padding: 6.2rem 0 0 0;
  min-height: 100vw;
}
@media screen and (min-width: 768px) {
  .content {
    padding: 4.4rem 0 0 0;
  }
}

.hero {
  position: relative;
  width: 100%;
  height: 287px;
  align-items: center;
  background-color: #323232;
  z-index: -1;
}
@media screen and (min-width: 768px) {
  .hero {
    width: 100%;
    height: 506px;
  }
}
@media screen and (min-width: 1024px) {
  .hero {
    width: 100%;
    height: 637px;
  }
}
@media screen and (min-width: 1440px) {
  .hero {
    width: 100%;
    height: 862px;
  }
}
.hero::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background-image: url(../../../public/assets/images/hero-shows.jpg);
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: center;
  opacity: 0.5;
}
@media screen and (min-width: 1024px) {
  .hero {
    background-position: center;
  }
}

.hero__subheader {
  padding: 1rem 1rem;
  font-size: 1.02rem;
  line-height: 1.375rem;
  font-family: "Avenir Regular";
  position: relative;
  color: #ffffff;
}
@media screen and (min-width: 768px) {
  .hero__subheader {
    font-size: 1.5rem;
    line-height: 2rem;
    font-family: "Avenir Bold";
    font-weight: 600;
    position: relative;
    color: #ffffff;
    padding: 4rem 2rem 1rem;
  }
}
@media screen and (min-width: 1024px) {
  .hero__subheader {
    padding: 9rem 6rem 0;
    font-size: 1.3rem;
    line-height: 4.2rem;
    font-family: "Avenir Demi";
    font-weight: 600;
    position: relative;
    color: #ffffff;
  }
}
@media screen and (min-width: 1440px) {
  .hero__subheader {
    font-size: 1.9rem;
    line-height: 1.375rem;
    font-family: "Avenir Regular";
    padding: 13rem 7.2rem 2rem;
  }
}

.hero__header {
  padding: 1rem;
  position: absolute;
  font-size: 1.9rem;
  line-height: 1.375rem;
  font-family: "Avenir Regular";
  line-height: 1.2;
  font-weight: 600;
  position: relative;
  padding-top: 1rem;
  color: #ffffff;
  width: 87%;
}
@media screen and (min-width: 768px) {
  .hero__header {
    font-size: 3.75rem;
    line-height: 4.2rem;
    font-family: "Avenir Regular";
    padding: 0 2rem;
    font-weight: 600;
    position: relative;
    color: #ffffff;
    width: 80%;
  }
}
@media screen and (min-width: 1024px) {
  .hero__header {
    font-size: 3rem;
    line-height: 1.375rem;
    font-family: "Avenir Bold";
    padding: 0 6rem;
    line-height: 4rem;
    position: relative;
    color: #ffffff;
    width: 60%;
  }
}
@media screen and (min-width: 1440px) {
  .hero__header {
    font-size: 5rem;
    line-height: 6.2rem;
    font-family: "Avenir Regular";
    padding: 0 7.2rem;
    width: 60%;
  }
}

.shows__title {
  font-size: 1.5rem;
  line-height: 2rem;
  font-family: "Avenir Bold";
  padding: 2rem 0 0 1rem;
}
@media screen and (min-width: 768px) {
  .shows__title {
    font-size: 2.25rem;
    line-height: 2.75rem;
    font-family: "Avenir Bold";
    padding: 3rem 0 0 2.5rem;
  }
}
@media screen and (min-width: 1024px) {
  .shows__title {
    padding-left: 6rem;
  }
}
@media screen and (min-width: 1440px) {
  .shows__title {
    padding-left: 19.2rem;
  }
}

.shows__list {
  width: 50%;
  list-style: none;
  display: none;
  justify-content: space-between;
  font-size: 0.875rem;
  line-height: 1.375rem;
  font-family: "Avenir Regular";
  font-weight: 600;
  color: #afafaf;
}
@media screen and (min-width: 768px) {
  .shows__list {
    display: flex;
    padding: 3rem 0 0 2.5rem;
    width: 60.2%;
    margin-bottom: 1rem;
  }
}
@media screen and (min-width: 1024px) {
  .shows__list {
    padding: 3rem 0 0 6rem;
    width: 45.2%;
    position: relative;
    top: -70px;
    right: -240px;
  }
}
@media screen and (min-width: 1440px) {
  .shows__list {
    padding: 3rem 0 0 12.2rem;
    width: 46.6%;
    top: -70px;
    right: -340px;
  }
}/*# sourceMappingURL=heroImage.module.css.map */