@import "../../styles/styles.scss";



.header{
    background-color:$bandsite-black;
    padding-top: $p-base;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100px;
    width: 100%;
    position: fixed;
    z-index: 2;

   @include tablet-query{
    padding:0 $p-base*2.5 ;
    flex-direction: row;
    justify-items: center;
     height: 70px;
    
   }
   @include laptop-query{
    padding: 0$p-base*3;
     height: 70px;

   }
}
.navbar{
    width:100% ;
    @include tablet-query{
        

    }
&__list{
    width: 100%;
    display: flex;
    padding: 0;
    justify-content:space-around;
    align-items: center;
    list-style: none;
    @include tablet-query{
        margin: 0;
    padding-left: $p-base*3;
    width: 40%;
    align-items: center;
    }
    @include laptop-query{
         width: 30%;
    }
      @include laptop-l-query{
         width: 20%;
    }
    }
&__list__bio__link{
    margin: 0;
    width: 50%;
    text-decoration: none;
    &:hover{
    color: $white;
    }
    @include tablet-query{
        width: 39%;
    }
     
    }
&__list__item__bio{

    text-align: center;
       color: $mercury;
       &:hover{
    content: "";
    @include subheadermob();
    display: block;
    text-align: center;
    padding: 1rem 0;
    border-bottom: 0.2rem solid $white;
    color:$white
    
       }
        @include tablet-query{
            &:hover{
    padding: $p-base*1.39 0;
    }
}
    }
    &__list__show__link{
    margin: 0;
    width: 50%;
    text-decoration: none;
    &:hover{
    color: $white;
    }
      @include tablet-query{
        width: 24%;
    }
        @include laptop-l-query{
        width: 22%;
    }
    }
&__list__item__show{
    text-align: center;
     padding: 1rem 0;
    color: $mercury;
    &:hover{
    @include subheadermob();
    color:$white;
    content: "";
    display: block;
    text-align: center;
    border-bottom: 0.2rem solid $white;
  
       }
       @include tablet-query{
           &:hover{
                    padding: $p-base*1.39 0;
           }
       }
    }
}
