@font-face {
  font-family: "Avenir Regular";
  src: url(../../../public/assets/fonts/Alternative-files/AvenirNextLTPro.ttf);
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "Avenir Bold";
  src: url(../../../public/assets/fonts/Alternative-files/AvenirNextLTProBold.ttf);
  font-weight: 900;
  font-style: normal;
}
@font-face {
  font-family: "Avenir Demi";
  src: url(../../../public/assets/fonts/Alternative-files/AvenirNextLTPro.ttf);
  font-weight: 700;
  font-style: normal;
}
/***********************
* MEDIA QUERIES
************************/
* {
  box-sizing: border-box;
  margin: 0;
}

body {
  font-family: "Avenir Demi";
}

.content {
  padding: 6.2rem 0 0 0;
  min-height: 100vw;
}
@media screen and (min-width: 768px) {
  .content {
    padding: 4.4rem 0 0 0;
  }
}

.header {
  background-color: #323232;
  padding-top: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100px;
  width: 100%;
  position: fixed;
  z-index: 2;
}
@media screen and (min-width: 768px) {
  .header {
    padding: 0 2.5rem;
    flex-direction: row;
    justify-items: center;
    height: 70px;
  }
}
@media screen and (min-width: 1024px) {
  .header {
    padding: 0 3rem;
    height: 70px;
  }
}

.navbar {
  width: 100%;
}
.navbar__list {
  width: 100%;
  display: flex;
  padding: 0;
  justify-content: space-around;
  align-items: center;
  list-style: none;
}
@media screen and (min-width: 768px) {
  .navbar__list {
    margin: 0;
    padding-left: 3rem;
    width: 40%;
    align-items: center;
  }
}
@media screen and (min-width: 1024px) {
  .navbar__list {
    width: 30%;
  }
}
@media screen and (min-width: 1440px) {
  .navbar__list {
    width: 20%;
  }
}
.navbar__list__bio__link {
  margin: 0;
  width: 50%;
  text-decoration: none;
}
.navbar__list__bio__link:hover {
  color: #ffffff;
}
@media screen and (min-width: 768px) {
  .navbar__list__bio__link {
    width: 39%;
  }
}
.navbar__list__item__bio {
  text-align: center;
  color: #e1e1e1;
}
.navbar__list__item__bio:hover {
  content: "";
  font-size: 1rem;
  line-height: 1.375rem;
  font-family: "Avenir Bold";
  display: block;
  text-align: center;
  padding: 1rem 0;
  border-bottom: 0.2rem solid #ffffff;
  color: #ffffff;
}
@media screen and (min-width: 768px) {
  .navbar__list__item__bio:hover {
    padding: 1.39rem 0;
  }
}
.navbar__list__show__link {
  margin: 0;
  width: 50%;
  text-decoration: none;
}
.navbar__list__show__link:hover {
  color: #ffffff;
}
@media screen and (min-width: 768px) {
  .navbar__list__show__link {
    width: 24%;
  }
}
@media screen and (min-width: 1440px) {
  .navbar__list__show__link {
    width: 22%;
  }
}
.navbar__list__item__show {
  text-align: center;
  padding: 1rem 0;
  color: #e1e1e1;
}
.navbar__list__item__show:hover {
  font-size: 1rem;
  line-height: 1.375rem;
  font-family: "Avenir Bold";
  color: #ffffff;
  content: "";
  display: block;
  text-align: center;
  border-bottom: 0.2rem solid #ffffff;
}
@media screen and (min-width: 768px) {
  .navbar__list__item__show:hover {
    padding: 1.39rem 0;
  }
}/*# sourceMappingURL=header.module.css.map */